﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "401";
    Layout = "~/Views/Shared/_MainLayoutStatic.cshtml";
}

<div style="width: 100%; text-align: center;">
    <h2 class="text-muted">Error code: 401 (Unauthorized)</h2>
    <h3 class="text-muted">You have no rights to be here</h3>
    <h3><a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
    </h3>
</div>
