﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_MainLayoutStatic.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
</head>
<body>
    <div style="width: 100%; text-align: center;">
        <h2 class="text-muted">Error code: 404</h2>
        <h3 class="text-muted">No such page</h3>
        <h3><a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a></h3>
    </div>
</body>
</html>
