﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_MainLayoutStatic.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Response.StatusCode</title>
    <style>
        div#header {
            position: static;
        }
    </style>
</head>
<body>
    <div style="width: 100%; text-align: center;">
        <h1 class="text-muted">Error code: @Response.StatusCode</h1>
        <h3 class="text-muted">Error occurred, administrator is notified. Please try again later.</h3>
        <h3><a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a></h3>
    </div>
</body>
</html>


