﻿@using System.Text.RegularExpressions
@using DependencyChecker.Entities
@using DependencyChecker.Entities.Utils
@model DependencyChecker.Web.Models.CleanupModel

@{
    ViewBag.Title = "Dependency checker tool";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var types = Model.Unused.GroupBy(e => e.Type);
    var numberOfItems = Model.Unused.Count(r => !r.Name.Contains("~IGNORE~"));
}

<div class="container">
    <h1 class="text-muted">Dependency checker
        <label class="small" style="color: #428bca; top: -10px; display: inline-block; position: relative;">Beta</label></h1>
    <h3>
        <label class="label-default" style="color: white;" id="status"></label>
    </h3>
    <div id="progress" class="progress">
    </div>
    
    <h4>Cleanup script generation for: @(Model.Scope.Type.ToLowerInvariant()) '@(Model.Scope.Name)'</h4>
    <div class="btn-group" data-toggle="buttons" id="typeFilter">
        @foreach (var type in types)
        {
            <label class="btn btn-default active">
                <input type="checkbox" checked="checked" name="@(type.Key)">@(type.Key) &nbsp;<span class="badge pull-right">@(type.Count())</span></label>
        }
    </div>
    <div class="pull-right form-inline">
    @using (Html.BeginForm("DownloadSetCleanup", "Main", FormMethod.Post))
    {
        <input type="hidden" id="id" name="id" value="@(Model.Scope.Id)" />
        <input type="hidden" id="idStr" name="idStr" value="" />
        <button type="submit" id="download" class="btn btn-primary pull-right" role="button">Download cleanup</button>
    }
    </div>
    <div>
        <span>Shown results: <span id="resultsNum">@(Model.Unused.Count)</span></span>&nbsp;  <label><input type="checkbox" id="showIgnored" /> Show ignored</label>

    </div>
    <div>
        
    </div>
    @if (numberOfItems > 50)
    {
        <ul class="pagination">
          @*<li><a href="#">&laquo;</a></li>*@
        @for (var i = 1; i < numberOfItems / 50 + 1; i++)
        {
            <li style="cursor: pointer;" @(Html.Raw(i == 1 ? "class=\"active\"" : String.Empty))><a data-page="@(i)">@(i)</a></li>
        }        
          @*<li><a href="#">&raquo;</a></li>*@
        </ul>
    }

    <ul class="list-group" id="results">
        @{
            var results = 0;
        }
        @foreach (var result in Model.Unused)
        {
            EntityType type;
            var name =
                Regex.Replace(result.Name,
                    (result.Type == "BatchFile" || result.Type == "PerlScript" || result.Type == "Executable") ?
                        @"(\\|\/)([^\/^\\]+)$" : @"(\.|\/)([^\.^\/]+)$",
                    "$1<b>$2</b>");
            if (!Enum.TryParse(result.Type, out type))
            {
                type = EntityType.Unresolved;
            }
            <li class="list-group-item res @(result.Name.Contains("~IGNORE~") || results++ > 50 ? "hide" : String.Empty)" name="@(result.Type)">
                <div class="form-group">
                    <input type="hidden" class="id" value="@(result.Id)" />
                    <button type="button" class="btn-default btn-xs">+</button>
                    <span class="label t @(type.GetStyle())">@(result.Type)</span>&nbsp;&nbsp;<span class="n">@(Html.Raw(name))</span>
                    <div class="pull-right">
                        <a href="@Url.Action("DownloadDetails", new { id = result.Id })" target="_blank">download</a>
                    </div>
                </div>
            </li>
        }
    </ul>
    
    @if (numberOfItems > 50)
    {
        <ul class="pagination">
          @*<li><a href="#">&laquo;</a></li>*@
        @for (var i = 1; i < numberOfItems / 50 + 1; i++)
        {
            <li style="cursor: pointer;" @(Html.Raw(i == 1 ? "class=\"active\"" : String.Empty))><a data-page="@(i)">@(i)</a></li>
        }        
          @*<li><a href="#">&raquo;</a></li>*@
        </ul>
    }

    <script type="text/javascript">
        var pageNum = 0;
        $(document).ready(function () {
            $(".list-group-item").each(function() {
                $(this).find('button').click(function () {
                    var element = $(this).parent().parent();
                    LoadEntity(element);
                });
            });
            $(".pagination a").on('click', function () {
                pageNum = parseInt($(this).data("page")) - 1;
                $(".pagination li.active").removeClass("active");
                $(this).parent().addClass("active");
                filterResults(pageNum);
            });

            buildDownload();
        });

        $("#typeFilter input").change(function () {
            pageNum = 0;
            filterResults(pageNum);
        });

        $("#showIgnored").change(function () {
            pageNum = 0;
            filterResults(pageNum);
        });

        function filterResults(page) {
            var filters = new Array();
            $("#typeFilter input:checked").each(function() {
                filters.push($(this).attr("name"));
            });

            var showIgnored = $("#showIgnored").prop("checked");

            var num = 0;
            $("#results li").each(function() {
                var show = filters.indexOf($(this).attr("name")) >= 0;

                if (!showIgnored && $(this).find(".n").text().indexOf("~IGNORE~") > 0) {
                    show = false;
                }

                if (show) {
                    if (page == Math.floor(num / 50)) {
                        $(this).removeClass("hide");
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                    num++;
                } else {
                    $(this).hide();
                }
            });

            $("#resultsNum").html(num);

            $(".pagination li").remove();
            num = Math.floor(num / 50) + 1;
            for (var i = 1; i <= num; i++) {
                $(".pagination").append('<li ' + (page == i - 1 ? ' class="active"' : '') + ' style="cursor: pointer;"><a data-page="' + i + '">' + i + '</a></li>');
            }

            $(".pagination a").on('click', function () {
                pageNum = parseInt($(this).data("page")) - 1;
                $(".pagination li.active").removeClass("active");
                $(this).parent().addClass("active");
                filterResults(pageNum);
            });
            buildDownload();
        }

        function buildDownload() {
            var str = "";
            $("#results li:visible").each(function() {
                str += $(this).find(".id").val() + ";";
            });
            $("#idStr").val(str);
        }
    </script>
</div>


