﻿@{
    ViewBag.Title = "Errors List";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script type="text/javascript">

    var _batches = null;


    var ErrorTypes = {
        ToFrom: 'Error: "From date" is later than "To"',
        Empty: 'Error: Pick both dates, please'
    }

    var BatchStatus = {
        Failed: 0,
        Success: 1
    }

    var ListTypes = {
        Batch: 'Batch',
        Entity: 'Entity',
        Error: 'Error'
    }

    function setExpandListEvent(element, methodName, type, success, error) {
        element.click(function () {
            var $btn = $(this);
            var $fgroup = $(this).parent();

            if ($btn.text() == '-') {
                $fgroup.children('.details').hide();
                $btn.text('+');
            }
            else {
                var params = {};
                if (type == ListTypes.Entity) {
                    params.batchId = +$fgroup.parent().attr('data-id');
                } else if (type == ListTypes.Error) {
                    params.batchId = +$fgroup.closest('.list-group-item').parent().closest('.list-group-item').attr('data-id');
                    params.entityName = $fgroup.find('span.entity-name').attr('data-name');
                }

                if ($fgroup.find('.details').length == 0) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("Index", "Main")' + methodName,
                        dataType: "json",
                        data: params,
                        async: true,
                        contentType: "application/json",
                        success: function(e) {
                            success(e, $fgroup);
                        },
                        error: error
                    });
                } else {
                    $fgroup.children('.details').show();
                    $btn.text('-');
                }
            }
        });
    }

    function setExpandEvents() {
        setLinkToExceptionsLog();
        setExpandListEvent($('.form-group>button'), 'GetBatchEntities', ListTypes.Entity, function(e, $fgroup) {
            var list = '';
            $.each(e.result, function(index, value) {
                list +=
                    '<li class="list-group-item">' +
                    '<div class="form-group">' +
                    '<button type="button" class="btn-default btn-xs" style="margin-right: 4px;">+</button>' +
                    '<span class="label t label-info" style="margin-right: 15px;">' + value.Type + '</span><span data-name="' + value.Name + '" class="entity-name">' + value.Name + '</span>' +
                    '</div>' +
                    '</li>';
            });

            $fgroup.append('<div class="details"></div>');
            $fgroup.find('.details').html(list);

            $fgroup.children('button').text('-');


            setExpandListEvent($fgroup.find('.details button'), 'GetEntityErrors', ListTypes.Error, function(e, $fgroup) {
                var list = '';
                $.each(e.result, function(index, value) {
                    list +=
                        '<li>' +
                        '<span>' + value + '</span>' +
                        '</li>';
                });

                $fgroup.append('<ul class="details"></ul>');
                $fgroup.find('.details').html(list);

                $fgroup.children('button').text('-');
            }, function(msg) {
                alert('load failed: \r\n' + msg.responseText);
            });

        }, function(msg) {
            alert('load failed: \r\n' + msg.responseText);
        });
    }

    function getBatchDOMListFromArray(BatchArray) {
        var list = '';
        $.each(BatchArray, function(index, value) {

            var yyyy, MM, dd, HH, mm, ss;

            yyyy = value.date.getFullYear();

            MM = (value.date.getMonth() + 1);
            MM = ("0" + MM).slice(-2);

            dd = value.date.getDate();
            dd = ("0" + dd).slice(-2);


            HH = value.date.getHours();
            HH = ("0" + HH).slice(-2);

            mm = value.date.getMinutes();
            mm = ("0" + mm).slice(-2);

            ss = value.date.getSeconds();
            ss = ("0" + ss).slice(-2);


            var listAppend = Patterns.BatchLi;
            var $listAppend = $(listAppend);

            

            if (value.status == BatchStatus.Failed) {
                $listAppend.addClass('batch-failed');
                $listAppend.find('button').attr('disabled', 'disabled');
                $listAppend.find('button').next().css('background-color', 'red');
                listAppend = $listAppend.prop('outerHTML');
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.Id, 'g'), value.id);
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.Status, 'g'), value.status);
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.DateTime, 'g'), MM + '.' + dd + '.' + yyyy + ' ' + HH + ':' + mm + ':' + ss);
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.Failed, 'g'), 'FAILED');
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.Username, 'g'), value.user);
            } else {
                $listAppend.addClass('batch-success');
                listAppend = $listAppend.prop('outerHTML');
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.Id, 'g'), value.id);
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.Status, 'g'), value.status);
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.DateTime, 'g'), MM + '.' + dd + '.' + yyyy + ' ' + HH + ':' + mm + ':' + ss);
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.Failed, 'g'), '');
                listAppend = listAppend.replace(new RegExp(PatternTokens.Batch.Username, 'g'), value.user);
            }
            list += listAppend;

            /*if (value.status == BatchStatus.Failed) {
                list += '<li class="list-group-item batch-failed" data-id="' + value.id + '" data-status="' + value.status + '">' +
                    '<div class="form-group">' +
                    '<button type="button" class="btn-default btn-xs" disabled>+</button>' +
                    '<span class="label t label-primary" style="margin-right: 11px;background-color: red;">Batch</span><span> ID: \'' + value.id +
                    '\'; Ran \'' + MM + '.' + dd + '.' + yyyy +
                    ' ' + HH + ':' + mm + ':' + ss +
                    ' by ' + value.user + '\'</span><span style="color: red;">  FAILED</span>' +
                    '<span style="float: right;">' +
                    '<a href="#">Watch exceptions</a>' +
                    '</span>' +
                    '</div>' +
                    '</li>';
            } else {
                list += '<li class="list-group-item batch-success" data-id="' + value.id + '" data-status="' + value.status + '">\
                <div class="form-group">\
                    <button type="button" class="btn-default btn-xs">+</button>\
                    <span class="label t label-primary" style="margin-right: 11px;" >Batch</span><span> ID: \'' + value.id +
                    '\'; Ran \'' + MM + '.' + dd + '.' + yyyy +
                    ' ' + HH + ':' + mm + ':' + ss +
                    ' by ' + value.user + '\'</span>\
                </div>\
            </li>';
        }*/
                

            
        });

        return list;
    }

    function getBatches(success) {
        if (_batches == null) {
            $("#loadingModal").modal('show');

            _batches = [];
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Index", "Main")' + 'GetBatches',
                dataType: "json",
                async: true,
                contentType: "application/json",
                success: function(e) {
                    $.each(e.result, function(index, value) {

                        _batches.push({
                            id: value.Id,
                            date: new Date(value.Date),
                            user: value.Username, 
                            status: value.Status
                        });

                    });



                    if (success) {
                        success(_batches);
                        $("#loadingModal").modal('hide');
                    }
                    else {
                        console.error('Define success function when calling getBatches');
                    }
                },
                error: function (msg) {
                    $("#loadingModal").modal('hide');

                    alert('load failed: \r\n' + msg.responseText);
                }
            });
        } else {
            success(_batches);
        }
    }

    function getBatchesList(batches, fromDate, toDate) {

        if (!fromDate || !toDate) {
            return getBatchDOMListFromArray(batches);
        } else {
            fromDate.setHours(0, 0, 0, 0);
            var fromMillis = fromDate.getTime();
            toDate.setHours(0, 0, 0, 0);
            var toMillis = toDate.getTime();

            var filtered = batches.filter(function (batch) {

                var date = new Date(batch.date);
                date.setHours(0, 0, 0, 0);
                var millis = date.getTime();

                return millis >= fromMillis && millis <= toMillis;
            });

            return getBatchDOMListFromArray(filtered);
        }
    }

    function filterBatches() {
        if ($('#onlySuccessful:checked').length != 0) {
            $('.batch-failed').hide();
        } else {
            $('.batch-failed').show();
        }
    }

    function setLinkToExceptionsLog() {
        //.closest('li').attr('data-id');
        $('.link-to-exes').click(function() {
            var id = $(this).closest('li').attr('data-id');
            sessionStorage.setItem('da-exception-batch-id', id);
            location.href = href;
            return false;
        });
    }

    $(document).ready(function () {

        $(".btn-group button").mouseup(function () {
            $(this).blur();
        });

        var date = new Date();
        date.setDate(date.getDate() - 7);

        $('#from-date-picker').datetimepicker({
            format: 'MM.DD.YYYY',
            defaultDate: date
        });

        

        $('#to-date-picker').datetimepicker({
            format: 'MM.DD.YYYY',
            defaultDate: new Date()
        });

        $('#from-date-picker').on('dp.change', function (e) {
            var minDate = $(this).data("DateTimePicker").date().toDate();
            minDate.setHours(0, 0, 0, 0);
            $('#to-date-picker').data("DateTimePicker").minDate(minDate);
        });
        $('#to-date-picker').on('dp.change', function (e) {
            var maxDate = $(this).data("DateTimePicker").date().toDate();
            maxDate.setHours(0, 0, 0, 0);
            $('#from-date-picker').data("DateTimePicker").maxDate(maxDate);
        });

        $('#show-all').click(function () {
            $('#date-error').hide();
            getBatches(function(batches) {
                var list = '';
                list = getBatchesList(batches);
                $('#results').html(list);
                filterBatches();
                setExpandEvents();
            });
        });
        $('#search-by-date').click(function () {
            $('#date-error').hide();
            var fromDatePicker = $("#from-date-picker").data("DateTimePicker").date();
            var toDatePicker = $("#to-date-picker").data("DateTimePicker").date();

            if (!fromDatePicker || !toDatePicker) {
                $('#date-error').text(ErrorTypes.Empty);
                $('#date-error').attr('title', ErrorTypes.Empty);
                $('#date-error').show();
                return;
            }

            var fromDate = fromDatePicker.toDate();
            var toDate = toDatePicker.toDate();

            getBatches(function (batches) {
                var list = '';
                list = getBatchesList(batches, fromDate, toDate);
                $('#results').html(list);
                filterBatches();
                setExpandEvents();
            });
        });

        $('#onlySuccessful').change(function() {
            filterBatches();
        });
        
        setExpandEvents();

    });
</script>

@section PageTitleSpan{
    <!--span style="font-size: 20px;">
    <a href="" class="active-link">Errors list</a>
</span>
<span-- style="font-size: 20px;">
    <a href="" class="inactive-link">Exception log</a>
</span-->

}

@section HeaderButtons{
    <div id="search-container">
        <span class="text-muted picker-label">From date:</span>
        <div class='input-group date' id='from-date-picker'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <span class="text-muted picker-label">To:</span>
        <div class='input-group date' id='to-date-picker'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <div class="btn-group batch-btn-group">
            <button type="button" class="btn btn-default" id="search-by-date">Search</button>
            <button type="button" class="btn btn-default" id="show-all">Show all</button>
        </div>
        <div class="btn-group batch-btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="checkbox" id="onlySuccessful">
                Only successful batches
            </label>
        </div>
        <span id="date-error" class="text-muted picker-label" style="display: none;">Error</span>
    </div>
}

    
    <ul class="list-group" id="results" style="margin-top: 20px;">

    </ul>