﻿@using DependencyChecker.Entities
@using DependencyChecker.Web.Authorization
@model dynamic

@{
    ViewBag.Title = "Dependency checker tool";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var drillDownTypes = new List<EntityType>
    {
        EntityType.Report,
        EntityType.Job,
        EntityType.Folder,
        EntityType.P1TCView
    }.Select(t => t.ToString()).ToList();
}

@section HeaderButtons{
    


    <h3>
        <label class="label-default" style="color: white;" id="status"></label>
    </h3>
    <div id="progress" class="progress">
    </div>
    <fieldset id="searchArea">
        <div class="input-group">
            <input type="text" class="form-control" id="searchQuery">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" id="defaultSearch">Search</button>
                @*                    <button tabindex="-1" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a id="simpleSearch" href="#">Simple search</a></li>
                        <li><a id="regexSearch" href="#">Search regular expression</a></li>
                        <li><a id="drillthroughSearch" href="#">Drill through</a></li>
                    </ul>*@
            </div>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="checkbox" id="useRegularExpression">
                Enable regular expression
            </label>
            <label class="btn btn-default">
                <input type="checkbox" id="exactSearch">
                Exact search
            </label>
            <label class="btn btn-default">
                <input type="checkbox" id="useDefinition">
                Search in definition
            </label>
        </div>
        <div class="btn-group" role="group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="checkbox" id="useDrillThrough">
                Drill down
            </label>
            <button type="button" class="btn btn-default dropdown-toggle" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="drillDownFilter">
                @foreach (var type in Enum.GetNames(typeof(EntityType)).Where(n => n != "Unresolved"))
                {
                    <li class="checkbox">
                        <label class="small" data-value="@(type)" tabIndex="-1">
                            <input type="checkbox" @Html.Raw(drillDownTypes.Contains(type) ? "checked=\"checked\" " : String.Empty)>
                            @(type)
                        </label>
                    </li>
                }
            </ul>
        </div>
        <div style="display: none;" class="btn-group" role="group" data-toggle="buttons" id="db-list-button">

            <button type="button" class="btn btn-default dropdown-toggle" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                <span class="">Databases</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="databaseFetcher"></ul>

        </div>
        <div style="display: none;" class="btn-group" id="errors-list">
            <a href="@Url.Action("ErrorsList", "Main")">Errors list</a>
        </div>
    </fieldset>
}

<ul class="list-group" id="results">
    <h2></h2>
</ul>


<script type="text/javascript">
    var _drillDownOptions = [@Html.Raw(String.Join(",", drillDownTypes.Select(t => "\""+ t + "\"")))];
    $('#drillDownFilter label').on('click', function (event) {
        var $target = $(event.currentTarget),
            val = $target.attr('data-value'),
            $inp = $target.find('input'),
            idx;

        if ((idx = _drillDownOptions.indexOf(val)) > -1) {
            _drillDownOptions.splice(idx, 1);
            setTimeout(function () { $inp.prop('checked', false) }, 0);
        } else {
            _drillDownOptions.push(val);
            setTimeout(function () { $inp.prop('checked', true) }, 0);
        }
        $(event.target).blur();
        return false;
    });
    $("#drillDownFilter").click(function(e) {
        e.originalEvent.stopImmediatePropagation();
        e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
    });
    $("#databaseFetcher").click(function (e) {
        e.originalEvent.stopImmediatePropagation();
        e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
    });
    //$("#drillDownFilter .checkbox label").click(function(e) {
    //    if ($(this).find("input:checked").length === 0) {
    //        $(this).find("input").attr("checked", "checked");
    //    } else {
    //        $(this).find("input").removeAttr("checked");
    //    }
    //});
    $('#defaultSearch').click(function () {
        var useRegex = ($("#useRegularExpression:checked").length === 1);
        var useBody = ($("#useDefinition:checked").length === 1);
        var exactSearch = ($("#exactSearch:checked").length === 1);

        return requestService('Search', function (data) {
            window.searchResult = data;
            $("#results").html("");
        }, true, { name: $("#searchQuery").val(), isRegex: useRegex, includeBody: useBody, exactSearch: exactSearch }).then(function () {
            window.searchResult.map(function (entity) {
                return ShowEntity($("#results"), entity, $("#searchQuery").val());
            });
        });
    });

    $("#searchQuery").keyup(function (e) {
        if (e.originalEvent.keyCode == 13) {
            $('#defaultSearch').click();
        }
    });

    $('#searchRegex').click();
    $('#showAdvanced').click();
</script>



