﻿.text-muted>a {
    color: #777;
}

    .t {
        display: inline-block;
        width: 95px;
    }

.filter {
    margin-top: 5px;
}
.filter span {
    float: left; 
    font-size: 0.8em; 
    font-weight: bold; 
    padding: 3px 5px 3px 0;
}

#searchArea,
#searchArea>.input-group {
    margin-bottom: 4px;
}

#errors-list {
    float: right; 
    margin-top: 7px; 
    margin-right: 5px;
}

div#header {
    position: fixed;
    background-color: white;
    z-index: 1000;
    width: inherit;
    padding-right: 30px;
}

body>.container>ul.list-group {
    position: relative;
}
        
body>.container>ul.list-group>.list-group-item:visible:first {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#header span>a.inactive-link {
    color: #dcdcdc;
}

#header span>a.active-link {
    color: #777;
}



.batch {
        background-color: deepskyblue;
        padding: 2px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 5px;
        width: 125px;
        display: inline-block;
        text-align: center;
        height: 20px;
        font-size: 12px;
    }

    .details {
        margin-top: 15px;
    }

    ul.details {
    }

        ul.details > li {
            color: #a94442;
            background-color: #f2dede;
        }

    div#search-container span.picker-label {
        float: left;
        margin-right: 10px;
        margin-top: 6px;
    }

    div#search-container .date {
        float: left;
        margin-right: 10px;
        width: 200px;
    }

    div#search-container .btn-group.batch-btn-group {
        margin-right: 15px;
            float: left;
    }

        div#search-container .btn-group.batch-btn-group  button {
            width: 80px;
        }

    #date-error {
        color: red;
        text-overflow: ellipsis;
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
    }

    .batch-failed>div>.label {
        background-color: red;
    }

    .batch-failed>div>button,
    button.disabled {
        opacity: 0.15;
    }

    div#controlPanelMenu {
        
    border: solid 1px gainsboro;
    margin-top: 50px;
    padding: 15px;
    border-radius: 5px;
    
    }

    

    /*-----------------------------------*/

    div#controlPanelMenu .options {
        width: 100%;
    }
        

    div#controlPanelMenu .options .column {
        display: inline-block;
        vertical-align: top;
    }

    div#controlPanelMenu .options .column .row {
        display: block;
    }

    div#controlPanelMenu .column .row {
        margin-bottom: 10px;
        display: block;
        width: 300px;
        padding: 5px;
        margin-left: 5px;
        border-radius: 5px;
    }

    div#controlPanelMenu .column .row > a {
        text-decoration: initial;
        display: block;
    }

    div#controlPanelMenu .column .row > a > div > img {
        width: inherit;
        padding: 5px;
    }

    div#controlPanelMenu .column .row > a > div {
        height: 50px;
        width: 50px;
        background-color: #6bbaec;
        border-radius: 5px;
        display: inline-block;
        margin-right: 15px;
    }

    div#controlPanelMenu .column .row > a > div.caution {
        background-color: #54ba33;
    }

    div#controlPanelMenu .column .row:hover{
        background-color: #efefef;
    }

    div#controlPanelMenu .column .row > a > span {
        font-size: 20px;
        font-family: inherit;
    }

    .error-message {
        -moz-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        /*width: 87%;*/
        display: block;
        vertical-align: middle;
    }

    .error-exception {
        background-color: #ffbfbf;
        display: block;
        margin-left: 22px;
        color: #bb2d2d;
        word-wrap: break-word;
    }

    div.left-align {
        float: left;
        display: block;
    }

    div#dataContainer {
        width: 900px;
        margin: 0 auto;
    }

    div#usersList {
        
    border: solid 1px gainsboro;
    margin-top: 50px;
    padding: 15px;
    border-radius: 5px;
    
    }

     #usersList div.users {
         display: table;
         /*border-spacing: 15px;*/
         border-collapse: collapse;
         width: inherit;
        
         /*table-layout: fixed;*/
     }

     #usersList div.users div.table-header div {
        text-align: center;
        padding-left: 0;
        font-weight: bold;
    }

    #usersList div.users div.table-row {
        display: table-row;
            height: 35px;
    }

    #usersList div.users div.table-row:hover {
        background-color: #f5f5f5;
    }

    #usersList div.users div.table-row div.table-cell {
        display: table-cell;
        border: 1px solid gainsboro;
        /*width: 150px;*/
        padding-left: 5px;
        vertical-align: middle;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #usersList div.users div.table-row div img{
        width: inherit;
    height: inherit;
    padding: 5px;
    }

    #usersList div.users div.table-row div img:hover {
        cursor: pointer;
    }

    #usersList div.users div.table-row div a{
            width: 100%;
    height: 100%;
    display: block;
    }

    #usersList div.users div.table-row div.table-cell.removeUser{
           width: 35px;text-align: center;padding: 0;
    }

    #usersList #addNewUser{
        margin-top: 10px;
        display: inline-block;
        text-align: right;
        
    }

    #usersList #addNewUser img{
        margin-right: 4px;
    }