﻿@using DependencyChecker.Entities
@using DependencyChecker.Entities.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="@Url.Content("~/favicon.ico")" rel="Shortcut Icon" type="image/x-icon"/>

    <title>@(ViewBag.Title)</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"> </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .t {
            display: inline-block;
            width: 95px;
        }

        .filter {
            margin-top: 5px;
        }
        .filter span {
            float: left; 
            font-size: 0.8em; 
            font-weight: bold; 
            padding: 3px 5px 3px 0;
        }
    </style>
</head>
<body>
    @RenderBody()

    @* Patterns definition *@
    <div id="patterns" class="hide">
        @* Main item pattern *@
        <li class="list-group-item res">
            <div class="form-group">
                <input type="hidden" class="id" />
                <button type="button" class="btn-default btn-xs">+</button>
                <span class="label t"></span>&nbsp;&nbsp;<span class="n"></span>
                <div class="pull-right">
                    <a href="@Url.Action("Index")" target="_blank">download</a>
                </div>
            </div>
        </li>
        <li class="list-group-item sqli">
            <div class="form-group">
                <input type="hidden" class="id" />
                <button type="button" class="btn-default btn-xs">-</button>
                <span class="label label-primary t"></span>&nbsp;&nbsp;<span class="n"></span>
                <div class="pull-right">
                    <a href="@Url.Action("Index")" target="_blank">download</a>
                </div>
                <div class="details">
                    <div class="filter btn-group type" data-toggle="buttons"><span>Filter by type: </span></div>
                    <div class="filter btn-group db" data-toggle="buttons"><span>Filter by database: </span></div>
                    <h5>Isses detected:</h5>
                    <div class="err" style="padding-left: 10px;"></div>
                    <h5>Used by: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                    <div style="padding-left: 10px;" class="usedBy"></div>
                    <h5>Depends On: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                    <div style="padding-left: 10px;" class="dependsOn"></div>
                </div>
            </div>
        </li>
        <li class="list-group-item rpti">
            <div class="form-group">
                <input type="hidden" class="id" />
                <button type="button" class="btn-default btn-xs">-</button>
                <span class="label label-info t"></span>&nbsp;&nbsp;<span class="n"></span>
                <div class="pull-right">
                    <a href="@Url.Action("Index")" target="_blank">download</a>
                </div>
                <div class="details">
                    <div class="filter btn-group type" data-toggle="buttons"><span>Filter by type: </span></div>
                    <h5>Isses detected:</h5>
                    <div class="err" style="padding-left: 10px;"></div>
                    <h5>Used by: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                    <div style="padding-left: 10px;" class="usedBy"></div>
                    <h5>Depends On: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                    <div style="padding-left: 10px;" class="dependsOn"></div>
                </div>
            </div>
        </li>
        <li class="list-group-item olapi">
            <div class="form-group">
                <input type="hidden" class="id" />
                <button type="button" class="btn-default btn-xs">-</button>
                <span class="label label-warning t"></span>&nbsp;&nbsp;<span class="n"></span>
                <div class="pull-right">
                    <a href="@Url.Action("Index")" target="_blank">download</a>
                </div>
                <div class="details">
                    <div class="filter btn-group type" data-toggle="buttons"><span>Filter by type: </span></div>
                    <h5>Isses detected:</h5>
                    <div class="err" style="padding-left: 10px;"></div>
                    <h5>Used by: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                    <div style="padding-left: 10px;" class="usedBy"></div>
                    <h5>Depends On: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                    <div style="padding-left: 10px;" class="dependsOn"></div>
                </div>
            </div>
        </li>
    </div>



    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Please wait" aria-hidden="true" id="loadingModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Please wait</h4>
                </div>
                <div class="modal-body">
                    Loading content...
               
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Copy text" aria-hidden="true" id="copyTextModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Text copy</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows ="30" cols="" id="copyData"></textarea>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var labels = {
            @(Html.Raw(String.Join(",\r\n", ((EntityType[])Enum.GetValues(typeof(EntityType))).Select(t => t + ": '" + t.GetStyle() + "'").ToArray())))
        };
        var lastProgres = -1, lastStatus = '';
        function requestService(method, successCallBack, block, data, type) {
            if (block) {
                $('#loadingModal').modal('show');
            }
            if (typeof type === "undefined") {
                type = 'POST';
            }
            if (typeof data === "undefined") {
                data = {};
            } else {
                data = JSON.stringify(data);
            }
            return $.ajax({
                type: type,
                url: '@Url.Action("Index")' + method,
                data: data,
                cache: false,
                dataType: "json",
                async: true,
                contentType: "application/json",
                success: function(e) {
                    if (e.status.State == 0) {
                        if (typeof $("#searchArea").attr("disabled") !== "undefined") {
                            $("#searchArea").removeAttr("disabled");
                        }
                        $("#status").html("");
                        $("#status").hide();
                        $("#progress").hide();
                        if (typeof successCallBack !== "undefined") {
                            successCallBack(e.result);
                        }
                    } else {
                        if (typeof $("#searchArea").attr("disabled") === "undefined") {
                            $("#searchArea").attr("disabled", "disabled");
                        }
                        $("#status").html("<b>" + e.status.Status + ": </b>" + e.status.Comment);
                        $("#status").show();
                        $("#progress").show();
                        if (e.status.Progress != lastProgres || lastStatus != e.status.Status) {
                            if (lastStatus != e.status.Status) {
                                $("#progress").html("");
                                if (e.status.CompletedSteps != null) {
                                    for (var p in e.status.CompletedSteps) {
                                        $("#progress").append("<div class='progress-bar progress-bar-success' style='width: " + e.status.CompletedSteps[p] + "%'><span>" + p.replace('Indexing ', '') + "</span></div>");
                                    }
                                }
                                $("#progress").append("<div class='progress-bar progress-bar-striped active' style='width: " + Math.max(e.status.Progress, 5) + "%'><span>" + e.status.StepProgress + "%</span></div>");
                                lastStatus = e.status.Status;
                            } else {
                                $("#progress .active").css({
                                    width: Math.max(e.status.Progress, 5) + "%"
                                });
                                $("#progress .active span").html(e.status.StepProgress + "%");
                            }
                            lastProgres = e.status.Progress;
                        }

                        setTimeout(RefreshStatus, 3000);
                    }
                    $('#loadingModal').modal('hide');
                },
                error: function(msg) {
                    alert('"' + method + '" load failed: \r\n' + msg.responseText);
                    $('#loadingModal').modal('hide');
                }
            });
        }

        function RefreshStatus() {
            return requestService('GetStatus');
        }

        $(document).ready(function() {
            RefreshStatus();
            $('#copyTextModal').on('shown.bs.modal', function (e) {
                $("#copyData").focus().select()
            });
        });

        function ShowEntity(container, entity, highlight) {
            var newResultPattern = $('#patterns .res')[0].outerHTML;
            var id = typeof entity.Key === "undefined" ? entity.Id : entity.Key;
            var newItem = $(newResultPattern);
            var name = typeof entity.Value === "undefined" ? entity.Name : entity.Value;
            if (highlight) {
                highlight = highlight.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                var reg = new RegExp("(" + highlight + ")", "ig");
                name = name.replace(reg, '<font style="background-color:yellow;">$1</font>');
            }
            if (entity.Type === "BatchFile" || entity.Type === "PerlScript" || entity.Type === "Executable" || entity.Type === "Person") {
                name = name.replace(/(\\|[^<]\/)([^\\]+)$/ig, '$1<b>$2</b>');
            } else {
                name = name.replace(/(\.|[^<]\/)([^\.]+)$/ig, '$1<b>$2</b>');
            }
            newItem.find('.n').html(name);
            newItem.find('.id').val(id);
            newItem.find('a').attr("href", newItem.find('a').attr("href") + 'download/' + id + '.txt');

            if (typeof entity.Type !== "undefined") {
                newItem.find('.t').text(entity.Type);
                newItem.find('.t').addClass(labels[entity.Type]);
                newItem.attr('data-Type', entity.Type);
                newItem.attr('data-Database', entity.Database);

                if (entity.Type == "Database") {
                    newItem.find('a').parent().prepend('<a target="_blank" href="@(Url.Action("Index"))cleanup/' + id + '.zip">download cleanup</a>');
                }
            }

            newItem.find('button').click(function() {
                var element = $(this).parent().parent();
                LoadEntity(element, highlight);
            });
            container.append(newItem);
        }


        function LoadEntity(element, highlight) {
            var drillThrought = ($("#useDrillThrough:checked").length == 1);
            var id = element.find(".id").val();

            if (drillThrought) {
                element.addClass('drill');
            }

            return requestService(drillThrought ? 'DrillThrough' : 'GetDetails', function(data) {
                var patternName = "sqli";
                if (data.Provider == "SSRS") {
                    patternName = "rpti";
                } else if (data.Provider == "OLAP") {
                    patternName = "olapi";
                }
                var newResultPattern = $('#patterns .' + patternName)[0].outerHTML;

                var newItem = $(newResultPattern);
                var name = typeof data.Value === "undefined" ? data.Name : data.Value;
                if (highlight) {
                    highlight = highlight.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                    var reg = new RegExp("(" + highlight + ")", "ig");
                    name = name.replace(reg, '<font style="background-color:yellow;">$1</font>');
                }
                if (data.Type === "BatchFile" || data.Type === "PerlScript" || data.Type === "Executable" || data.Type === "Person") {
                    name = name.replace(/(\\|[^<]\/)([^\\]+)$/ig, '$1<b>$2</b>');
                } else {
                    name = name.replace(/(\.|[^<]\/)([^\.]+)$/ig, '$1<b>$2</b>');
                } 
                newItem.find('.n').html(name);
                newItem.find('.id').val(data.Id);
                newItem.find('.t').text(data.Type);
                newItem.attr('data-Type', data.Type);
                newItem.attr('data-Database', data.Database);
                newItem.find('a').attr("href", newItem.find('a').attr("href") + 'download/' + id + '.txt');

                if (typeof data.Type !== "undefined") {
                    newItem.find('.t').text(data.Type);
                    newItem.find('.t').addClass(labels[data.Type]);

                    if (data.Type == "Database") {
                        newItem.find('a').parent().prepend('<a target="_blank" href="@(Url.RouteUrl(""))cleanup/' + id + '.zip">download cleanup</a>');
                    }
                }
                newItem.find('button').click(function() {
                    var toggleButton = $(this);
                    if (toggleButton.text() == '-') {
                        toggleButton.parent().find('>.details').hide();
                        toggleButton.text('+');
                    } else {
                        var container = toggleButton.parent().parent();
                        if (container.hasClass('drill') != ($("#useDrillThrough:checked").length == 1)) {
                            LoadEntity(container);
                        } else {
                            toggleButton.parent().find('>.details').show();
                            toggleButton.text('-');
                        }
                    }
                });

                data.Errors.map(function(error) {
                    newItem.find('.err').append('<li class="list-group-item-danger">' + error + '</li>');
                });

                data.DependsOn.map(function(entity) {
                    ShowEntity(newItem.find('.dependsOn'), entity);
                });

                data.UsedBy.map(function(entity) {
                    ShowEntity(newItem.find('.usedBy'), entity);
                });

                newItem.find('.copy').click(function () {
                    var text = '';
                    $(this).parent().find("~div:first>.list-group-item>.form-group:visible").each(function () {
                        text += '[' + $(this).find('>.t').text() + ']\t' + $(this).find('>.n').text() + '\r\n';
                    });
                    $("#copyData").val(text);
                    $("#copyTextModal").modal('show');
                });

                if (data.UsedBy.length == 0) {
                    newItem.find('.copy:first').remove();
                }

                if (data.DependsOn.length == 0) {
                    newItem.find('.copy:last').remove();
                }

                if (data.DependsOn.length + data.UsedBy.length > 5) {
                    setupFilter(newItem.find(".filter.type"), 'Type', data.UsedBy.concat(data.DependsOn));
                    setupFilter(newItem.find(".filter.db"), 'Database', data.UsedBy.concat(data.DependsOn));
                }

                if (element.hasClass('drill') && $("#useDrillThrough:checked").length == 1) {
                    newItem.addClass('drill');
                }
                element.replaceWith(newItem);
            }, true, drillThrought ? { id: id, types: _drillDownOptions } : { id: id });
        }

        function setupFilter(filterArea, property, data) {
            var groupedData = groupBy(data, [property]);

            if (Object.keys(groupedData).length == 1) {
                filterArea.remove();
            }

            Object.keys(groupedData).map(function (group) {
                filterArea.append('<label class="btn btn-default btn-xs active"><input name="' + group + '" type="checkbox" checked="checked">' + group + ' &nbsp;<span class="badge pull-right">' + groupedData[group].length + '</span></label>');
            });

            filterArea.find('input').change(function () {
                var type = $(this).attr('name');
                var checked = $(this).prop("checked");
                var container = $(this).parent().parent().parent();

                if (type == 'UNDEFINED') {
                    type = '';
                }

                if (checked) {
                    container.find('.list-group-item[data-' + property + '="' + type + '"]').show();
                } else {
                    container.find('.list-group-item[data-' + property + '="' + type + '"]').hide();
                }
            });
        }

        function groupBy(data, properties) {
            var groupedData = {};
            data.map(function (item) {
                var groupName = ''; 
                properties.map(function (prop) {
                    groupName += item[prop];
                });
                if (groupName == '') {
                    groupName = 'UNDEFINED';
                }
                groupedData[groupName] = groupedData[groupName] || [];
                groupedData[groupName].push(item);
            });
            return groupedData;
        }
    </script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"> </script>
</body>
</html>
