﻿@{
    ViewBag.Title = "Exception Log";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@section HeaderButtons{
    <div id="search-container">
        <span class="text-muted picker-label">From date:</span>
        <div class='input-group date' id='from-date-picker'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <span class="text-muted picker-label">To:</span>
        <div class='input-group date' id='to-date-picker'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <div class="btn-group batch-btn-group">
            <button type="button" class="btn btn-default" id="search-by-date">Search</button>
            <button type="button" class="btn btn-default" id="show-all">Show all</button>
        </div>
        <span id="date-error" class="text-muted picker-label" style="display: none;">Error</span>
    </div>
}

<ul class="list-group" id="results" style="margin-top: 20px;"></ul>

<script type="text/javascript">

    DC.ControlPanel.ExceptionLog.init();

</script>