﻿@{
    ViewBag.Title = "Control panel";
    Layout = "~/Views/Shared/_MainLayoutStatic.cshtml";
}

<div id="controlPanelMenu">
    <h2 style="margin-bottom: 35px; color: #428bca; margin-top: 5px;">Control panel</h2>
    <div class="options">
        <div class="column" style="width: 49%;">
            <div class="row">
                <a href="@Url.Action("Users", "ControlPanel")">
                    <div>
                        <img src="@Url.Content("~/Content/images/users.png")">
                    </div>
                    <span class="text-muted" style="">Users management</span>
                </a>
            </div>
            <div class="row">
                <a href="@Url.Action("ExceptionLog", "ControlPanel")">
                    <div>
                        <img src="@Url.Content("~/Content/images/error.png")">
                    </div>
                    <span class="text-muted" style="">Exception log</span>
                </a>
            </div>
        </div>
        <div class="column" style="width: 49%;">
            <div class="row">
                <a id="restartSvcBtn" href="@Url.Action("Restart", "ControlPanel")">
                    <div class="caution">
                        <img src="@Url.Content("~/Content/images/refresh.png")">
                    </div>
                    <span class="text-muted" style="">Restart service</span>
                </a>
            </div>
        </div>
    </div>
    
</div>

<script type="text/javascript">
    DC.ControlPanel.Home.init();
</script>