﻿@model IEnumerable<DependencyChecker.Web.Models.AdUser>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_MainLayoutStatic.cshtml";
}

<div id="usersList">

    <h2 style="margin-bottom: 35px; color: #428bca; margin-top: 5px;">Users management</h2>

    <div id="userManagement">
        
    </div>
</div>
<div id="addNewUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new administrator</h4>
            </div>
            <div class="modal-body">
                
                    <span style="display: block; margin-bottom: 10px;">Logon name (username without domain):</span>
                    <div class="input-group">
                        <input id="userNameInput" class="form-control" style="display: inline-block" type="text" />
                        <div class="input-group-btn">
                            <button  class="btn btn-default" id="checkUser">Check existence</button>
                        </div>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button id="addNewUserBtn" style="width: 100px;" type="button" class="btn btn-default">Add</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    DC.ControlPanel.Users.init();

</script>

<script src="@Url.Content("~/Scripts/cpanel-users.jsx")"></script>