﻿@using DependencyChecker.Entities
@using DependencyChecker.Entities.Utils
@using DependencyChecker.Web.Authorization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="@Url.Content("~/Content/images/favicon.ico")" rel="Shortcut Icon" type="image/x-icon" />

    <title>@(ViewBag.Title)</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/dataart-dc.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/jBox.css")" rel="stylesheet">

    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/jBox.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/react.js")"> </script>
    <script src="@Url.Content("~/Scripts/react-dom.js")"> </script>
    <script src="@Url.Content("~/Scripts/react-router.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/app.jsx")"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        div#header {
            position: static;
        }
    </style>
</head>
<body>
@RenderBody();

<script src="@Url.Content("~/Scripts/app.jsx")"></script>
    
</body>
</html>
