﻿@using DependencyChecker.Entities
@using DependencyChecker.Entities.Utils
@using DependencyChecker.Web.Authorization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="@Url.Content("~/Content/images/favicon.ico")" rel="Shortcut Icon" type="image/x-icon"/>

    <title>@(ViewBag.Title)</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/dataart-dc.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/jBox.css")" rel="stylesheet">

    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/jBox.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/react.js")"> </script>
    <script src="@Url.Content("~/Scripts/react-dom.js")"> </script>
    <script src="@Url.Content("~/Scripts/react-router.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/da-control-panel.js")"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        <div id="header">
            <h1 class="text-muted">
                <a href="@Url.Action("Index", "Main")">Dependency checker</a>
                
                <label class="small" style="color: #428bca; top: -10px; display: inline-block; position: relative;">Beta</label>

                @if (Context.User.IsUserInRole("Administrator"))
                {
                    <div style="margin-top: 15px; float: right;">
                        <span style="font-size: 20px;"><a style="" href="@Url.Action("Index", "ControlPanel")">Control panel</a></span>
                    </div>
                }

                @RenderSection("PageTitleSpan", required: false)
            </h1>
            @RenderSection("HeaderButtons", required: false)
        </div>
        @RenderBody()
    </div>
        

        @* Patterns definition *@
        <div id="patterns" class="hide">
            @* Main item pattern *@
            <li class="list-group-item res">
                <div class="form-group">
                    <input type="hidden" class="id" />
                    <button type="button" class="btn-default btn-xs">+</button>
                    <span class="label t"></span>&nbsp;&nbsp;<span class="n"></span>
                    <div class="pull-right">

                        <a href="@Url.Action("Index", "Main")" style="padding-left: 4px;" target="_blank">download</a>
                        <a href="@Url.Action("Index", "Main")" style="padding-left: 4px;">export all</a>
                        <div class="progress" style="width: 58px; display: none; margin-left: 4px; height: 10px; margin-bottom: 0px;">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item sqli">
                <div class="form-group">
                    <input type="hidden" class="id" />
                    <button type="button" class="btn-default btn-xs">-</button>
                    <span class="label label-primary t"></span>&nbsp;&nbsp;<span class="n"></span>
                    <div class="pull-right">

                        <a href="@Url.Action("Index", "Main")" style="padding-left: 4px;" target="_blank">download</a>
                        <a href="@Url.Action("Index", "Main")" style="padding-left: 4px;">export all</a>
                        <div class="progress" style="width: 58px; display: none; margin-left: 4px; height: 10px; margin-bottom: 0px;">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="details">
                        <div class="filter btn-group type" data-toggle="buttons"><span>Filter by type: </span></div>
                        <div class="filter btn-group db" data-toggle="buttons"><span>Filter by database: </span></div>
                        <h5><span class="created"></span></h5>
                        <h5><span class="modified"></span></h5>
                        <h5><span class="lastrun"></span></h5>
                        <div class="issues-list" style="display: none">
                            <h5>Issues detected:</h5>
                            <div class="err" style="padding-left: 10px;"></div>
                        </div>
                        <h5>Used by: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                        <div style="padding-left: 10px;" class="usedBy"></div>
                        <h5>Depends On: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                        <div style="padding-left: 10px;" class="dependsOn"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item rpti">
                <div class="form-group">
                    <input type="hidden" class="id" />
                    <button type="button" class="btn-default btn-xs">-</button>
                    <span class="label label-info t"></span>&nbsp;&nbsp;<span class="n"></span>
                    <div class="pull-right">

                        <a href="@Url.Action("Index", "Main")" style="padding-left: 4px;" target="_blank">download</a>
                        <a href="@Url.Action("Index", "Main")" style="padding-left: 4px;">export all</a>
                        <div class="progress" style="width: 58px; display: none; margin-left: 4px; height: 10px; margin-bottom: 0px;">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="details">
                        <div class="filter btn-group type" data-toggle="buttons"><span>Filter by type: </span></div>
                        <h5><span class="created"></span></h5>
                        <h5><span class="modified"></span></h5>
                        <div class="issues-list" style="display: none">
                            <h5>Issues detected:</h5>
                            <div class="err" style="padding-left: 10px;"></div>
                        </div>

                        <h5>Used by: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                        <div style="padding-left: 10px;" class="usedBy"></div>
                        <h5>Depends On: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                        <div style="padding-left: 10px;" class="dependsOn"></div>
                    </div>
                </div>
            </li>
            <li class="list-group-item olapi">
                <div class="form-group">
                    <input type="hidden" class="id" />
                    <button type="button" class="btn-default btn-xs">-</button>
                    <span class="label label-warning t"></span>&nbsp;&nbsp;<span class="n"></span>
                    <div class="pull-right">
                        <a href="@Url.Action("Index", "Main")" target="_blank">download</a>
                    </div>
                    <div class="details">
                        <div class="filter btn-group type" data-toggle="buttons"><span>Filter by type: </span></div>
                        <h5>Issues detected:</h5>
                        <div class="err" style="padding-left: 10px;"></div>
                        <h5>Used by: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                        <div style="padding-left: 10px;" class="usedBy"></div>
                        <h5>Depends On: <span class="btn btn-info btn-xs pull-right copy">copy</span></h5>
                        <div style="padding-left: 10px;" class="dependsOn"></div>
                    </div>
                </div>
            </li>
        </div>



        <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Please wait" aria-hidden="true" id="loadingModal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Please wait</h4>
                    </div>
                    <div class="modal-body">
                        Loading content...

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Copy text" aria-hidden="true" id="copyTextModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Text copy</h4>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" rows="30" cols="" id="copyData"></textarea>
                    </div>
                </div>
            </div>
        </div>



<script type="text/javascript">
    
    var _entityMap = {
        "&": "&amp;",
        "<": "&lt;",
        ">": "&gt;",
        '"': '&quot;',
        "'": "&#39;",
        "/": "&#x2F;"
    };

    var PatternTokens= {
        Batch: {
            Id: '{{Id}}',
            Status: '{{Status}}',
            DateTime: '{{DateTime}}',
            Failed: '{{Failed}}',
            Username: '{{Username}}'
        }
    }

    var Patterns = {
        BatchLi: '<li class="list-group-item batch-item" data-id="{{Id}}" data-status="{{Status}}">' +
                '<div class="form-group">' +
                    '<button type="button" class="btn-default btn-xs" style="    margin-right: 5px;">+</button>' +
                    '<span class="label t label-primary" style="margin-right: 11px;">Batch</span><span> ID: \'{{Id}}' +
                '\'; Ran \'{{DateTime}}' +
                ' by {{Username}}\'</span><span style="color: red;">  {{Failed}}</span>' +
                '<span style="float: right;">' +
                '<a class="link-to-exes" href="@Url.Action("ExceptionLog", "ControlPanel")">Watch exceptions</a>' +
                    '</span>' +
                '</div>' +
            '</li>'
    }

    function escapeHtml(string) {
        return String(string).replace(/[&<>"'\/]/g, function (s) {
            return _entityMap[s];
        });
    }
    var labels = {
        @(Html.Raw(String.Join(",\r\n", ((EntityType[])Enum.GetValues(typeof(EntityType))).Select(t => t + ": '" + t.GetStyle() + "'").ToArray())))
    };
    var lastProgres = -1, lastStatus = '';
    var dbFetched = false;
    function requestService(method, successCallBack, block, data, type) {
        if (block) {
            $('#loadingModal').modal('show');
        }
        if (typeof type === "undefined") {
            type = 'POST';
        }
        if (typeof data === "undefined") {
            data = {};
        } else {
            data = JSON.stringify(data);
        }
        return $.ajax({
            type: type,
            url: '@Url.Action("Index", "Main")' + method,
            data: data,
            cache: false,
            dataType: "json",
            async: true,
            contentType: "application/json",
            success: function (e) {
                setListPosition();
                if (e.status.State == 0) {
                    if (typeof $("#searchArea").attr("disabled") !== "undefined") {
                        $("#searchArea").removeAttr("disabled");
                    }
                    $("#status").html("");
                    $("#status").hide();
                    $("#progress").hide();

                    $('#errors-list').show();

                    if (!dbFetched) {
                        dbFetched = true;
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Index", "Main")' + 'GetDatabases',
                            dataType: "json",
                            async: true,
                            contentType: "application/json",
                            success: function (e) {
                                var list = '';
                                $.each(e.result, function (index, value) {
                                    list += '<li style="cursor: pointer;"><a tabindex="-1" onclick="(function(){' +
                                        '$(\'#searchQuery\').val(\'' + value + '\'); ' +
                                        'if ($(\'#exactSearch:checked\').length != 1) {$(\'#exactSearch\').parent().click();}' +
                                        '$(\'#defaultSearch\').click()' +
                                        '})()">' + value + '\n</a></li>';
                                });
                                $("#databaseFetcher").html(list);
                                $('#db-list-button').show();
                            },
                            error: function (msg) {
                                alert('"' + method + '" load failed: \r\n' + msg.responseText);
                                $('#loadingModal').modal('hide');
                            }
                        });
                    }

                    if (typeof successCallBack !== "undefined") {
                        successCallBack(e.result);
                    }
                } else {
                    if (typeof $("#searchArea").attr("disabled") === "undefined") {
                        $("#searchArea").attr("disabled", "disabled");
                    }
                    $("#status").html("<b>" + e.status.Status + ": </b>" + e.status.Comment);
                    $("#status").show();
                    $("#progress").show();
                    if (e.status.Progress != lastProgres || lastStatus != e.status.Status) {
                        if (lastStatus != e.status.Status) {
                            $("#progress").html("");
                            if (e.status.CompletedSteps != null) {
                                for (var p in e.status.CompletedSteps) {
                                    $("#progress").append("<div class='progress-bar progress-bar-success' style='width: " + e.status.CompletedSteps[p] + "%'><span>" + p.replace('Indexing ', '') + "</span></div>");
                                }
                            }
                            $("#progress").append("<div class='progress-bar progress-bar-striped active' style='width: " + Math.max(e.status.Progress, 5) + "%'><span>" + e.status.StepProgress + "%</span></div>");
                            lastStatus = e.status.Status;
                        } else {
                            $("#progress .active").css({
                                width: Math.max(e.status.Progress, 5) + "%"
                            });
                            $("#progress .active span").html(e.status.StepProgress + "%");
                        }
                        lastProgres = e.status.Progress;
                    }

                    setTimeout(RefreshStatus, 3000);
                }
                $('#loadingModal').modal('hide');
            },
            error: function (msg) {
                alert('"' + method + '" load failed: \r\n' + msg.responseText);
                $('#loadingModal').modal('hide');
            }
        });
    }

    function RefreshStatus() {
        return requestService('GetStatus');
    }

    function setListPosition() {
        var top = $('div#header').height();
        if ($('#search-container').length != 0) {
            top += $('#search-container').height();
        }
        $('body>.container>ul.list-group').css('top', top);
    }

    $(document).ready(function () {
        RefreshStatus();
        $('#copyTextModal').on('shown.bs.modal', function (e) {
            $("#copyData").focus().select()
        });


    });

    function _fillEntityData(entity, id, jItem, highlight) {
        var name = typeof entity.Value === "undefined" ? entity.Name : entity.Value;

        if (name.indexOf(':') > -1) {
            var match = name.match(/[\s\S]*\|/);
            if (match && match.length == 1)
                name = name.replace(/[\s\S]*\|/, '<span style="padding: 2px; border: 1px solid rgb(170, 170, 170); border-image: none;">' + match[0].substring(0, match[0].length - 2) + '</span> |');
        }

        if (highlight) {
            highlight = highlight.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
            var reg = new RegExp("(" + highlight + ")", "ig");
            name = name.replace(reg, '<font style="background-color:yellow;">$1</font>');
        }
        if (entity.Type === "BatchFile" || entity.Type === "PerlScript" || entity.Type === "Executable" || entity.Type === "Person") {
            name = name.replace(/(\\|[^<]\/)([^\\]+)$/ig, '$1<b>$2</b>');
        } else {
            name = name.replace(/(\.|[^<]\/)([^\.]+)$/ig, '$1<b>$2</b>');
        }

        jItem.find('.n').html(name);

        $(jItem.find('a')[0]).attr("href", $(jItem.find('a')[0]).attr("href") + 'download/' + id);
        //$(jItem.find('a')[1]).attr("href", $(jItem.find('a')[1]).attr("href") + 'exportall/' + id);
        $(jItem.find('a')[1]).removeAttr('href');
        $(jItem.find('a')[1]).click(function () {

            $(jItem.find('a')[1]).hide();
            $(jItem.find('a')[1]).next().css('display', 'inline-block');


            $.ajax({
                type: 'GET',
                url: '@Url.Action("Index", "Main")' + 'ExportAll/' + id,
                dataType: "json",

                async: true,
                contentType: "application/json",
                success: function (e) {
                    $(jItem.find('a')[1]).next().hide();
                    $(jItem.find('a')[1]).show();

                    window.location = '@Url.Action("Index", "Main")' + 'downloadfile/?path=' + e.result;

                    //$.ajax({
                    //type: 'GET',
                    //data: {path: e.result},
                    //url: '@Url.Action("Index", "Main")' + 'DownloadFile/'
                    // });
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        });
    }

    function ShowEntity(container, entity, highlight) {
        var newResultPattern = $('#patterns .res')[0].outerHTML;
        var id = typeof entity.Key === "undefined" ? entity.Id : entity.Key;
        var newItem = $(newResultPattern);
        _fillEntityData(entity, id, newItem, highlight);
        newItem.find('.id').val(id);

        if (typeof entity.Type !== "undefined") {
            newItem.find('.t').text(entity.Type);
            newItem.find('.t').addClass(labels[entity.Type]);
            newItem.attr('data-Type', entity.Type);
            newItem.attr('data-Database', entity.Database);

            if (entity.Type == "Database") {
                newItem.find('a').parent().prepend('<a target="_blank" href="@(Url.Action("Index", "Main"))cleanup/' + id + '.zip">download cleanup</a>');
            }
        }

        newItem.find('button').click(function () {
            var element = $(this).parent().parent();
            LoadEntity(element, highlight);
        });
        container.append(newItem);
    }


    function LoadEntity(element, highlight) {
        var drillThrought = ($("#useDrillThrough:checked").length == 1);
        var id = element.find(".id").val();

        if (drillThrought) {
            element.addClass('drill');
        }

        return requestService(drillThrought ? 'DrillThrough' : 'GetDetails', function (data) {
            var patternName = "sqli";
            if (data.Provider == "SSRS") {
                patternName = "rpti";
            } else if (data.Provider == "OLAP") {
                patternName = "olapi";
            }
            var newResultPattern = $('#patterns .' + patternName)[0].outerHTML;

            var newItem = $(newResultPattern);
            _fillEntityData(data, id, newItem, highlight);
            newItem.find('.id').val(data.Id);
            newItem.find('.t').text(data.Type);
            newItem.attr('data-Type', data.Type);
            newItem.attr('data-Database', data.Database);


            if (typeof data.Type !== "undefined") {
                newItem.find('.t').text(data.Type);
                newItem.find('.t').addClass(labels[data.Type]);

                if (data.Type == "Database") {
                    newItem.find('a').parent().prepend('<a target="_blank" href="@(Url.RouteUrl(""))cleanup/' + id + '.zip">download cleanup</a>');
                }
            }
            newItem.find('button').click(function () {
                var toggleButton = $(this);
                if (toggleButton.text() == '-') {
                    toggleButton.parent().find('>.details').hide();
                    toggleButton.text('+');
                } else {
                    var container = toggleButton.parent().parent();
                    if (container.hasClass('drill') != ($("#useDrillThrough:checked").length == 1)) {
                        LoadEntity(container);
                    } else {
                        toggleButton.parent().find('>.details').show();
                        toggleButton.text('-');
                    }
                }
            });

            if (data.Created != null || data.CreatedBy != null) {
                var $created = newItem.find('.created');
                $created.text('Created:');
                if (data.Created != null) $created.append(' ' + data.Created);
                if (data.CreatedBy != null) $created.append(' by ' + data.CreatedBy);
            }

            if (data.LastModified != null || data.LastModifiedBy != null) {
                var $modified = newItem.find('.modified');
                $modified.text('Modified:');
                if (data.LastModified != null) $modified.append(' ' + data.LastModified);
                if (data.LastModifiedBy != null) $modified.append(' by ' + data.LastModifiedBy);
            }

            if (data.LastRun != null) {
                var $lastRun = newItem.find('.lastrun');
                $lastRun.text('Last run: ' + data.LastRun);
            }

            if (data.Errors.length > 0) newItem.find('.issues-list').show();

            data.Errors.map(function (error) {
                newItem.find('.err').append('<li class="list-group-item-danger">' + error + '</li>');
            });

            data.DependsOn.map(function (entity) {
                ShowEntity(newItem.find('.dependsOn'), entity);
            });

            data.UsedBy.map(function (entity) {
                ShowEntity(newItem.find('.usedBy'), entity);
            });

            newItem.find('.copy').click(function () {
                var text = '';
                $(this).parent().find("~div:first>.list-group-item>.form-group:visible").each(function () {
                    text += '[' + $(this).find('>.t').text() + ']\t' + $(this).find('>.n').text() + '\r\n';
                });
                $("#copyData").val(text);
                $("#copyTextModal").modal('show');
            });

            if (data.UsedBy.length == 0) {
                newItem.find('.copy:first').remove();
            }

            if (data.DependsOn.length == 0) {
                newItem.find('.copy:last').remove();
            }

            if (data.DependsOn.length + data.UsedBy.length > 5) {
                setupFilter(newItem.find(".filter.type"), 'Type', data.UsedBy.concat(data.DependsOn));
                setupFilter(newItem.find(".filter.db"), 'Database', data.UsedBy.concat(data.DependsOn));
            }

            if (element.hasClass('drill') && $("#useDrillThrough:checked").length == 1) {
                newItem.addClass('drill');
            }
            element.replaceWith(newItem);
        }, true, drillThrought ? { id: id, types: _drillDownOptions } : { id: id });
    }

    function setupFilter(filterArea, property, data) {
        var groupedData = groupBy(data, [property]);

        if (Object.keys(groupedData).length == 1) {
            filterArea.remove();
        }

        Object.keys(groupedData).map(function (group) {
            filterArea.append('<label class="btn btn-default btn-xs active"><input name="' + group + '" type="checkbox" checked="checked">' + group + ' &nbsp;<span class="badge pull-right">' + groupedData[group].length + '</span></label>');
        });

        filterArea.find('input').change(function () {
            var type = $(this).attr('name');
            var checked = $(this).prop("checked");
            var container = $(this).parent().parent().parent();

            if (type == 'UNDEFINED') {
                type = '';
            }

            if (checked) {
                container.find('.list-group-item[data-' + property + '="' + type + '"]').show();
            } else {
                container.find('.list-group-item[data-' + property + '="' + type + '"]').hide();
            }
        });
    }

    function groupBy(data, properties) {
        var groupedData = {};
        data.map(function (item) {
            var groupName = '';
            properties.map(function (prop) {
                groupName += item[prop];
            });
            if (groupName == '') {
                groupName = 'UNDEFINED';
            }
            groupedData[groupName] = groupedData[groupName] || [];
            groupedData[groupName].push(item);
        });
        return groupedData;
    }
</script>

        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"> </script>
</body>

</html>
